
#logo {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

#tab {
	position: absolute;
	height: 33%;
	width: 50%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;	
}

.tabFeld {
	width: 25%;
	vertical-align: bottom;
}

#m {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
