#spielfeld {
	width: 600px;
	height: 603px;
	margin-left: -300px;
	left: 50%;
	background: url(/assets/images/feld.png) no-repeat;
	position: relative;
	overflow: visible;
	
}

#panel {
	background: red;
	padding:5px;
}

#wuerfel {
	position: absolute;
	width: 50px;
	height: 50px;
}

.spielfigur {
	widht: 30px;
	height: 45px;
	position:absolute;
}

#msgbox {
	text-align:center;
	position: relative;
}

#footer{
	text-align: center;
	position: relative;
}


